@model IEnumerable<ASPNetSocialMedia.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Find Friends</h1>

@foreach (var item in Model)
{

    <div>
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
                <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                        <img src="@item.ProfileImage"
                         alt="Generic placeholder image" class="img-fluid"
                         style="width: 180px; border-radius: 10px;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">@Html.DisplayFor(modelItem => item.Biography)</p>

                        <div class="d-flex pt-1">
                            <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Message</button>
                            <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">
                                <a asp-action="Details" asp-route-email="@item.Email">See Profile</a>
                            </button>
                            <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">
                                <a asp-action="Details" asp-route-id="@item.Email">Send friend request</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
