@model IEnumerable<ASPNetSocialMedia.Models.CloseFriendRelation>

@{
    ViewData["Title"] = "Index";
}

<h1>Friend List</h1>

<p>
    <a asp-action="Create">Add a new close friend!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Close Friend Name
            </th>
            <th>
                Close Friend Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CloseFriendName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseFriendEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CloseFriendRelationId">Edit Contact Name</a> |
                <a asp-action="Details" asp-route-id="@item.CloseFriendRelationId">Message History</a> |
                <a asp-action="Delete" asp-route-id="@item.CloseFriendRelationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
