@model ASPNetSocialMedia.Models.Messages

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Message Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Message: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageContent)
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            From: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FriendEmail)
        </dd>
        <dt class = "col-sm-2">
            At: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to message box</a>
</div>
