@model IEnumerable<ASPNetSocialMedia.Models.FriendRelation>

@{
    ViewData["Title"] = "Index";
}

<h1>Friend List</h1>

<p>
    <a asp-action="Create">Add a new friend</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Friend Name
            </th>
            <th>
                Friend Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriendEmail)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.FriendRelationId">Edit Contact Name</a> |
                <a asp-action="Details" asp-route-id="@item.FriendRelationId">Message History</a> |
                <a asp-action="Delete" asp-route-id="@item.FriendRelationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
