@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNetSocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNetSocialMedia.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/W0L3g2y/logo.png">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://i.ibb.co/W0L3g2y/logo.png" alt="logo" width="50" height="50"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- The sidebar -->
            <div class="sidebar">
 
                <div class="card" id="profile">
                    <img src="@UserManager.GetUserAsync(User).Result.ProfileImage" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><a href="/"><b>@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</b></a></h4>
                        <p><i>@UserManager.GetUserAsync(User).Result.Biography</i></p>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="/FriendRelations">My Friends</a>
                    <div class="dropdown-content">
                        <a href="/CloseFriendRelations">Close Friends</a>
                        <a href="/ApplicationUser">Find Friends</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="/Messages">Messages</a>
                    <div class="dropdown-content">
                        <a href="/Home/Chat">Public Chat</a>
                    </div>
                </div>
                <a href="/Posts">My Posts</a>
                <a href="/Home/CompleteProfile">Edit Profile</a>
                <a href="/Home/Weather">Weather</a>
                <a href="/Home/About">About us</a>
                <a href="/Identity/Account/Logout?returnUrl=%2F">Logout</a>
            </div>
        }
        <div id="mainBody">
            @RenderBody()
        </div>
        
    </main>

    <footer class="bg-light text-center text-lg-start" id="footer">
        <span>
            <div class="text-center p-3">
                © 2022 Social Media
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/weather.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
